<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<contextName>crm-web</contextName>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">  
   		<file>/opt/web/weblog/crm-web.log</file>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/opt/web/weblog/crm-web.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %method %line -%msg%n</pattern>
		</encoder>
    	<append>true</append>  
    	<encoder>  
      		<pattern>
      			%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
      		</pattern>  
    	</encoder>  
	</appender>  
	<jmxConfigurator />
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root> 
	<logger name="com.niu" level="INFO" />
</configuration>
